@use "../../styles/color";
@use "../../styles/breakpoints" as bp;

.container {
  margin: 0.5rem;
  padding: 0.4rem;
  border-bottom: 1px solid lightgray;
  font-size: 0.9rem;

  p {
    margin: 8px 0;
  }
  @include bp.small-screen {
    width: 460px;
  }
  @include bp.medium-screen {
    width: 860px;
  }
}

.heading {
  color: color.$secondary-color;
  &:hover {
    text-decoration: underline;
  }
}

.authors {
  font-weight: 500;
  .anthony {
    font-weight: bold;
  }
}

.articleids {
  color: color.$grey-color;
  text-align: end;
  line-height: 0.6rem;
  font-size: 0.8rem;
  font-weight: 300;
}

.pubmedlogo {
  height: auto;
  width: 5rem;
}
